*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
	font-family: "Lato", sans-serif;
	color: rgb(0, 0, 0);
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #7dcea0;
}

.container__sudoku {
	width: 54rem;
	height: 70rem;
	background: #85c1e9;
	border-radius: 0.5rem;

	display: flex;
	flex-direction: column;

	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.timer {
	flex: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.board {
	flex: 75%;
	background: #4d5656;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

input {
	caret-color: transparent;
	cursor: default;
	width: 6rem;
	border: 1px solid rgb(219, 214, 214);
	text-align: center;
	color: #686c6c;
	font-size: 1.6rem;
	font-weight: bold;
}

input:focus {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.difficulty {
	flex: 9%;
	font-size: 1.3rem;
	padding: 0 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	font-size: 1.2rem;
	width: 9rem;
	height: 3.5rem;
	border-radius: 0.3rem;
	border: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	transition: transform 0.2s;
}

button:hover {
	transform: scale(1.075);
}

button:active {
	transform: translateY(2px);
}

.difficulty__easy {
	background-color: #52be80;
}
.difficulty__medium {
	background-color: #f0b27a;
}
.difficulty__hard {
	background-color: #cd6155;
}
.difficulty__random {
	background-color: #b2babb;
}

.difficulty__clear {
	background-color: #b2babb;
}
.solve-valid {
	flex: 9%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}

.validate {
	width: 19.8rem;
	background-color: #b2babb;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.solve {
	width: 19.8rem;
	background-color: #b2babb;
}
